<a href="https://colab.research.google.com/github/lopeztanya033/Talleres-Clustering-Euclidiana-Manhattan-y-Coseno-/blob/main/Clustering_Talleres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Distancia Euclidiana ( 20 minutos) **
Caso de Estudio 1.1: Clasificación de Células Cancerígenas
Un equipo de investigadores médicos está analizando muestras de células para determinar si son benignas o malignas. Cada célula está caracterizada por 5 atributos numéricos que representan diferentes propiedades morfológicas:
x_1: Tamaño del núcleo (escala 1-10)
x_2: Uniformidad del tamaño celular (escala 1-10)
x_3: Uniformidad de la forma celular (escala 1-10)
x_4: Adhesión marginal (escala 1-10)
x_5: Tamaño de nucleolos (escala 1-10)

In [ ]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

In [ ]:
df = pd.DataFrame({
     'Celula': [ 'A', 'B', 'C', 'D', 'E'],
     'TamanoNucleo':[4, 8, 3, 9, 5],
     'TamanoCelular':[ 2, 7, 2, 8, 4],
     'FormaCelular': [1, 6, 2, 7, 3 ],
     'AdhesionMarginal': [3, 9, 2, 8, 6 ],
     'TamanoNucleolo':[2, 7, 1, 9, 5 ],
     'Tipo': ['B', 'M', 'B', 'M',  np.nan]
 })
print("Datos originales (Altura y Peso):")
print(df)

Datos originales (Altura y Peso):
  Celula  TamanoNucleo  TamanoCelular  FormaCelular  AdhesionMarginal  \
0      A             4              2             1                 3
1      B             8              7             6                 9
2      C             3              2             2                 2
3      D             9              8             7                 8
4      E             5              4             3                 6

   TamanoNucleolo Tipo
0               2    B
1               7    M
2               1    B
3               9    M
4               5  NaN

In [ ]:
df[df['Celula'] == 'E'].iloc[0] [['TamanoNucleo', 'TamanoCelular', 'FormaCelular', 'AdhesionMarginal', 'TamanoNucleolo']]

TamanoNucleo        5
TamanoCelular       4
FormaCelular        3
AdhesionMarginal    6
TamanoNucleolo      5
Name: 4, dtype: object

In [ ]:
# Aqui en donde se aplica la verdadera Matriz del lcdo Nelson Gonzalez.
# muestra_e =
celula_e   = df[df['Celula'] == 'E'].iloc[0] [['TamanoNucleo', 'TamanoCelular', 'FormaCelular', 'AdhesionMarginal', 'TamanoNucleolo']].values
print(celula_e)

[np.int64(5) np.int64(4) np.int64(3) np.int64(6) np.int64(5)]

In [ ]:
distancias = []
for indice, fila  in df.iterrows():
    # print("Fila ", indice  )
    # print("Celula:", fila['Celula'])
    # print("TamanoNucleo:", fila['TamanoNucleo'])
    #print("TamanoCelular:", fila['TamanoCelular'])
    # son 5 intecaciones  row : 0 , row 1 hasta row:4
    if fila['Celula'] != 'E':
     distancia = distance.euclidean (celula_e, fila[['TamanoNucleo', 'TamanoCelular', 'FormaCelular', 'AdhesionMarginal', 'TamanoNucleolo']].values
                                    )
     distancias.append({
         'Cedula':  fila['Celula'],
         'Distancia': distancia,
         'Tipo': fila['Tipo']
     })

In [ ]:
distancias

In [ ]:
cercana = min(distancias, key=lambda x: x['Distancia'])
print(cercana)

# **Caso de Estudio 2: **
Recomendación de PelículasUn servicio de streaming quiere implementar un sistema de recomendación basado en las calificaciones que los usuarios dan a películas. Para simplificar, consideramos sólo 5 películas y las calificaciones (escala 1-5) de tres usuarios existentes y un nuevo usuario

In [ ]:
df_peli = pd.DataFrame({
     'Usuario': [ 'A', 'B', 'C', 'N'],
     'P1':[5, 2, 4, 4],
     'P2':[ 4, 1, 5,  5],
     'P3': [ 2, 5, 3, np.nan ],
     'P4': [ 1, 4, 2, 2],
     'P5':[ 3, 2, 4, 3]
 })

print(df_peli)

  Usuario  P1  P2   P3  P4  P5
0       A   5   4  2.0   1   3
1       B   2   1  5.0   4   2
2       C   4   5  3.0   2   4
3       N   4   5  NaN   2   3

In [ ]:
Usuario_N = df_peli[df_peli['Usuario'] == 'N'].iloc[0][['P1','P2', 'P4', 'P5']].values
distancias_z= [ ]

In [ ]:
print(Usuario_N)

[np.int64(4) np.int64(5) np.int64(2) np.int64(3)]

In [ ]:
df_peli

In [ ]:
for indice, fila in df_peli.iterrows():
  if fila['Usuario'] != 'N':
      distancia = distance.euclidean(Usuario_N, fila[['P1', 'P2', 'P4', 'P5']].values )
      distancias_z.append({
          'Usuario': fila['Usuario'],
          'dist01' : distancia
      })

In [ ]:
distancias_z

[{'Usuario': 'A', 'dist01': np.float64(1.7320508075688772)},
 {'Usuario': 'B', 'dist01': np.float64(5.0)},
 {'Usuario': 'C', 'dist01': np.float64(1.0)}]

In [ ]:
punto_cercano = min (distancias_z, key=lambda x: x['dist01'])
print(punto_cercano)

{'Usuario': 'C', 'dist01': np.float64(1.0)}

In [ ]:
## repeusta : El usuario N  coo se parece al usuario C: calificara la Pelicula 3:  con 3 puntos

# **Taller 3  Distancia Manhattan **
Caso de Estudio 2.1: Planificación de Rutas de Entrega Urbanas
Una empresa de mensajería tiene que entregar paquetes en una ciudad con estructura de cuadrícula. La sede central de la empresa está ubicada en las
coordenadas (0,0) y debe entregar paquetes en varias ubicaciones. Debido a la estructura de calles de la ciudad,
los vehículos solo pueden moverse en direcciones horizontales y verticales.

In [ ]:
import pandas as pd
import numpy as np
import pandas as pd
from scipy.spatial.distance import cityblock
#Crear DataFrame con 10 puntos (Altura en cm, Peso en kg)
clientes = pd.DataFrame({
    'Cliente': ['A', 'B', 'C', 'D', 'E'],
    'X': [5, -2, 6, -3, 4],
    'Y': [3, 4, -1, -5, 2]
})

In [ ]:
distancias_bl = [ ]
for index, fila in clientes.iterrows():
       distancia =  cityblock([0,0 ],  fila [['X', 'Y']].values)
       distancias_bl.append (
           ## 'Cliente': fila['Cliente'],
           distancia
       )

In [ ]:
clientes['distancia' ] =  distancias_bl

In [ ]:
distancias_bl = [ ]
for index, fila in clientes.iterrows():
       distancia =  cityblock([0,0 ],  [fila['X'], fila['Y'] ])
       distancias_bl.append (
           distancia
       )

In [ ]:
 distancias_bl

[8, 6, 7, 8, 6]

In [ ]:
clientes['distancia' ] =  distancias_bl

In [ ]:
clientes

  Cliente  X  Y  distancia
0       A  5  3          8
1       B -2  4          6
2       C  6 -1          7
3       D -3 -5          8
4       E  4  2          6

In [ ]:
rutta_optima =clientes.sort_values('distancia') ['Cliente'].tolist()

In [ ]:
ruta_optima

['B', 'E', 'C', 'A', 'D']

In [ ]:
distancia_total = clientes['distancia'].sum() * 2

In [ ]:
## Ditancia Total:
print(f"{distancia_total}")

70

# **Caso de Estudio 4: Análisis de Anomalías en Sensores**
Una fábrica utiliza múltiples sensores para monitorear el funcionamiento de una máquina industrial.
Se sabe que cuando la máquina funciona correctamente, los valores de los sensores se mantienen dentro de ciertos rangos.
Se han registrado los siguientes valores en cinco momentos diferentes:
Tarea:

Utiliza la distancia Manhattan para determinar cuál de los registros se desvía más del funcionamiento normal de la máquina.
Establece un umbral de distancia para detectar anomalías y clasifica cada registro como "normal" o "anomalía
Utilizar un umbral de 20 para categorizar como normal o anomalía ( <= 20 normal; >20 anomalía)".

In [ ]:
sensor = sensor[sensor['Tiempo'] == 'N'].iloc[0][[ 'S1', 'S2', 'S3', 'S4']].values

In [ ]:
import pandas as pd
import numpy as np
import pandas as pd
from scipy.spatial.distance import cityblock
#Crear DataFrame con 10 puntos (Altura en cm, Peso en kg)
sensor = pd.DataFrame({
    'Tiempo': ['N', 'R1', 'R2', 'R3', 'R4'],
    'S1': [100, 104, 132 ,98, 103],
    'S2': [50, 53, 68, 52, 49],
    'S3': [25, 22, 12, 24, 26],
    'S4': [75, 78, 84,  73, 77]
})

In [ ]:
sensor

  Tiempo   S1  S2  S3  S4
0      N  100  50  25  75
1     R1  104  53  22  78
2     R2  132  68  12  84
3     R3   98  52  24  73
4     R4  103  49  26  77

In [ ]:
Medicion_N

array([100, 50, 25, 75], dtype=object)

In [ ]:
distancias = [ ]
for index, fila in sensor.iterrows():
   if fila['Tiempo'] != 'N':
       distancia = cityblock( Medicion_N,  fila [['S1', 'S2', 'S3', 'S4']].values)
       distancias.append({
            'Registro': fila['Tiempo' ],
            'Dist01': distancia
        })

In [ ]:
distancias

[{'Registro': 'R1', 'Dist01': 13},
 {'Registro': 'R2', 'Dist01': 72},
 {'Registro': 'R3', 'Dist01': 7},
 {'Registro': 'R4', 'Dist01': 7}]

In [ ]:
###  R2:  tiene problema de Anomalias.
umbral = 20
resultados = [  'Anamolia' if d['Dist01'] > 20 else 'Normal' for d in distancias]
resultados

['Normal', 'Anamolia', 'Normal', 'Normal']

In [ ]:
punto_lejano = max(distancias, key= lambda x: x['Dist01'] )
print(f"El mas lejano {punto_lejano}")

El mas lejano {'Registro': 'R2', 'Dist01': 72}

# Taller 5 .-Distancia Coseno ( 20 minutos )**
 Caso de Estudio 3.1: Análisis de Similitud de Documentos
Un sistema de procesamiento de lenguaje natural necesita determinar la similitud entre documentos basándose en la frecuencia de palabras clave.
Se han analizado 4 documentos y se ha contado la frecuencia de 5 palabras clave:

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
docu = pd.DataFrame({
    'Doc': ['A', 'B', 'C', 'D' ],
    'Int': [10, 8, 2, 5 ],
    'Art': [15, 12, 3, 7 ],
    'Dat': [ 8, 7, 15, 6],
    'Apr': [12, 10, 4, 18 ],
    'Alg': [5,6, 12, 3 ]
})

In [ ]:
docu

  Doc  Int  Art  Dat  Apr  Alg
0   A   10   15    8   12    5
1   B    8   12    7   10    6
2   C    2    3   15    4   12
3   D    5    7    6   18    3

In [ ]:
## arYAY
Doc_A = docu [docu['Doc'] == 'A'].iloc[0] [['Int', 'Art', 'Dat', 'Apr', 'Alg']].values

In [ ]:
Doc_A

array([10, 15, 8, 12, 5], dtype=object)

In [ ]:
# Calcular similitud del coseno sobre la Matriz  documentos y obtengo matriz de simulitude
distancias = [ ]
for index, fila in docu.iterrows():
     if fila['Doc'] != 'A' :
        vector = fila[[ 'Int', 'Art','Dat', 'Apr', 'Alg']].values
        similitud_coseno = cosine_similarity([Doc_A ], [ vector]) [0][0]
        distancias.append({
             'Documento': fila['Doc'] ,
             'Similitud': similitud_coseno
         })

In [ ]:
##### Calcula la similitud coseno entre el Documento A y cada uno de los otros documentos
distancias

[{'Documento': 'B', 'Similitud': 0.995113325832935},
 {'Documento': 'C', 'Similitud': 0.6217402519583585},
 {'Documento': 'D', 'Similitud': 0.8729126092433148}]

In [ ]:
similitud_coseno

0.8729126092433148

In [ ]:
# Documento más similar
mas_similar = max(distancias, key=lambda x: x['Similitud'])
mas_similar['Documento']
print("Más similar a A:", mas_similar['Documento'])

Más similar a A: B

In [ ]:
##Parecido entre ellos  atentit)
similitud_coseno = cosine_similarity(docu[['Int', 'Art', 'Dat', 'Apr', 'Alg']].values)

In [ ]:
similitud_coseno_df = pd.DataFrame(similitud_coseno, columns=docu['Doc'], index=docu['Doc']).round(4)

In [ ]:
similitud_coseno_df

Doc       A       B       C       D
Doc
A    1.0000  0.9951  0.6217  0.8729
B    0.9951  1.0000  0.6802  0.8724
C    0.6217  0.6802  1.0000  0.5454
D    0.8729  0.8724  0.5454  1.0000

## **Taller 6 .Recomendación de Productos basada en Comportamiento de Compra **bold text**
Una tienda en línea analiza las compras de sus clientes en diferentes categorías de productos para hacer recomendaciones.
Cada cliente está representado por un vector que indica cuánto ha gastado en cada categoría:

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
clientes = pd.DataFrame({
    'Cli': ['1', '2', '3', 'n' ],
    'Ele': [1200, 800,  500, 900 ],
    'Rop': [300, 1500,  200, 250 ],
    'Dep': [150, 600, 100, np.nan],  # Ignorar
    'Lib': [250, 100, 400, 300 ]
})

In [ ]:
clientes

  Cli   Ele   Rop    Dep  Lib
0   1  1200   300  150.0  250
1   2   800  1500  600.0  100
2   3   500   200  100.0  400
3   n   900   250    NaN  300

In [ ]:
Cliente_nuevo = clientes[ clientes['Cli'] == 'n'].iloc[0][['Ele','Rop', 'Lib']].values

In [ ]:
distancias = [ ]
for index, fila in clientes.iterrows():
     if fila['Cli'] != 'n':
         similitud_coseno =cosine_similarity([Cliente_nuevo ], [fila[['Ele','Rop', 'Lib']]]) [0][0]
         distancias.append({
             'Cliente': fila['Cli'] ,
             'Similitud': similitud_coseno
         })

In [ ]:
MaximaParecidoNuevo = max(distancias, key= lambda x:  x['Similitud'])

In [ ]:
print(MaximaParecidoNuevo)

{'Documento': '1', 'Similitud': 0.9934934812233943}

In [ ]:
prediccion =clientes[clientes['Cli' ]  ==  MaximaParecidoNuevo ['Cliente']].iloc[ 0] ['Dep']

In [ ]:
print('Predicción en Cliente N Deportes:', prediccion)

Predicción en Cliente N Deportes: 150.0

In [ ]:
clientes[clientes['Cli' ]  ==  MaximaParecidoNuevo ['Cliente']] ['Dep'].values[0]

150.0